body{
    
    background-color: #13161a;
    margin: 0;
    inset: 0;
}
.heading{
    top: 10px;
    position:sticky ;

    display: flex;
    justify-content: space-around;
    background-color:black;
    height: 100px;
    border-bottom: 1px solid white;
    color: white;
   
}
.main{
    display: flex;
}#mai{
    height: 20px;
    margin-top: 50px;
}

#h3{
    margin-left: 50px;
    margin-top: -20px;
}
#p{
    
    margin-top: 50px;
    cursor: pointer;
}
.car{
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    cursor: pointer;
    border-bottom: solid 1px ;
    font-size: 20px;
    cursor: pointer;
    color:white;
    
}
#seac{
    background-color: #f8f8fd;
}
#font:hover{
    color: bisque;

}
.carpic{
    display: flex;
    height: 700px;
    color: white;
}
.carpic1{
    width: 60%;
    height: 700px;
   
}
.carpic2{
    width: 40%;
    height: 800px;
    
}
#volvo{
    margin-left: -250px;
    margin-top: 160px;
}
#quality{
    margin-top: 200px;
    font-family: monospace;
    height: 20px;
}
.brands{
    display: flex;
    width: 1200px;
    margin-left: 96px;
    border-bottom: 2px solid #26282b;
    height: 78px;
    cursor: pointer;
}

#br{
    width: 44px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
}

.enqury{
    margin-top: 200px;
}
#brand{
    
    border: 3px solid #13161a;
    width: 170px;
    height: 30px;
    background-color: #26282b;
    padding-top: 15px;
    text-align: center;
    margin-left: 350px;
}
.cariamges{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    
   
}
#c1{
    width: 380px;
    height: 300px;
    cursor: pointer;
    border-radius: 30px;
    padding: 20px;
    border-bottom: 2px solid orange;
    border-top: 2px solid blue;
    
}
#d{
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 33px;
    
}
.porche{
    margin-right:70px;
    border-bottom:2px solid #26282b 
    
}
.footer-content{
    border-top: 3px solid #f8f8fd;
    cursor: pointer;
    color: white;
}
#link:hover{
    color: rgb(233, 242, 255);

}
 
#video1{
    margin-top: 80px;
    height: 700px;
    width: 90%;
    margin-left: 90px;
    border-radius: 50px;
}
.form{
    margin-top: 80px;
}
#label{
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
#lab{
    margin-top: 10px;
    cursor: pointer;
}
.car1grid{
    width: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 3%;
    grid-gap: 16%;
    color: white;

}
#c11{
    width: 400px;
    height: 300px;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-bottom: 4px solid blue;
    border-top: 4px solid orange;
    
    
}
.table{
    margin-top: 30px;
    border-color: yellow;
    color: white;
    width: 100%;
    align-items: center;
   width: 60%;
   margin-left: 440PX; 
}
#table{
    
  width: 700px;
}
td{
    text-align: center;

    
}
table,td,th{
    border: 2px solid white;
    border-collapse: collapse;

    cursor: pointer;
}
th{
    color: antiquewhite;
    font-size: 40px;
}
#audio{
    top: 0;
}
.rangerover{
    border-bottom: 2px solid #26282b;
    margin-right: 53px;
}
.audio{
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: end;
}
#audio{
    width: 120px;
}
li::marker{
    color: #26282b;
}
.search{
    display: flex;
    justify-content: space-around;
}
.fst{
    margin-top: 27px;
    height: 21px;
    display: flex;
    background-color: #f8f8fd;
}
.fst:hover{
    background-color: bisque;
}

#icon1st{
    
    margin-top: 2px;
    color: black;
    width: 200px;
    position: sticky;
    top: 11px;
}
#i{
    margin-left: -20px;
   
}