body{
    
    background-color: #000000;
    margin: 0;
    inset: 0;
}
.heading{
    top: 10px;
    position:sticky ;

    display: flex;
    justify-content: space-around;
    background-color:black;
    height: 100px;
    border-bottom: 1px solid white;
    color: white;
   
}
.main{
    display: flex;
}#mai{
    height: 20px;
    margin-top: 50px;
}

#h3{
    margin-left: 50px;
    margin-top: -20px;
}
#p{
    
    margin-top: 50px;
    cursor: pointer;
}
.car{
    display: flex;
    justify-content: space-around;
    margin-left: 120px;
    cursor: pointer;
    border-bottom: solid 1px ;
    font-size: 20px;
    cursor: pointer;
}
.carpic{
    display: flex;
    height: 700px;
    color: white;
}
.carpic1{
    width: 60%;
    height: 700px;
   
}
.carpic2{
    width: 40%;
    height: 800px;
    
}
#volvo{
    margin-left: -250px;
    margin-top: 160px;
}
#quality{
    margin-top: 200px;
    font-family: monospace;
    height: 20px;
}
.brands{
    display: flex;
    width: 900px;
    margin-left: 96px;
    border-bottom: 2px solid #26282b;
    height: 78px;
    cursor: pointer;
}

#br{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
}

.enqury{
    margin-top: 200px;
}
#brand{
    
    border: 3px solid #13161a;
    width: 170px;
    height: 30px;
    background-color: #26282b;
    padding-top: 15px;
    text-align: center;
    margin-left: 350px;
}
.cariamges{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(0, 0, 0); border-top: 4px solid rgb(0, 0, 0);
    padding-top: 20px;
    
   
}
#c1{
    width: 300px;
    height: 300px;
    cursor: pointer;
    border-radius: 30px;
    padding: 20px;
    border-bottom: 2px solid orange;
    border-top: 2px solid blue;
    
}
#d{
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    
}
.porche{
    margin-right:100px;
    
}
.footer-content{
    border-top: 3px solid #f8f8fd;
    cursor: pointer;
    color: white;
}
#link:hover{
    color: rgb(233, 242, 255);

}
<<<<<<< HEAD:style.CSS
#video1{
    margin-top: 80px;
    height: 700px;
    width: 90%;
    margin-left: 90px;
    border-radius: 50px;
}
.form{
    margin-top: 80px;
}
#label{
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
#lab{
    margin-top: 10px;
    cursor: pointer;
}
.car1grid{
    width: 900px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin-left: 5%;
    grid-gap: 16%;
    color: white;

}
#c11{
    width: 300px;
    height: 300px;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-bottom: 4px solid orange;
    border-top: 4px solid blue;
    
    
}
=======
>>>>>>> 2a0ca6ed521d3661b4e06a0390bfd2893ad81be1:style.css
